@import "/content_admin/styles/reset.css";
@import "/content_admin/bower_components/bootstrap/dist/css/bootstrap.min.css";

nav > ul > li > span {text-transform: uppercase; display: block; background-color: black; color: white; padding:5px 0px; text-align: center; }

// layout

#navbar{
  margin-bottom:0px;
}
.navbar-inverse span,
.navbar-inverse label{
  color: white;
}
#sidebar {
  display: block;
  padding: 3px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

#flashbag{
  #flash{
    width:500px;
    padding:5px 10px;
    margin:auto;
    ul li { margin-left: 16px;}
  }
  z-index: 1000;
  position:absolute;
  width:100%;
  top:53px;
}

img.img-thumbnail.asset {
  height:130px;
  background-repeat:no-repeat;
  background-size:cover;
}