{% block form_row %}
{% spaceless %}
{% set class='' %}
{% if attr.class is defined %}
  {% set class = 'class="form-group ' ~ attr.class ~ '"' %}
{% else %}
  {% set class = 'class="form-group"' %}
{% endif %}
<div {{ class|raw }}>
  <div class='col-sm-3 control-label'>
    {{ form_label(form) }}
  </div>
  <div class="col-sm-9">
    <div>{{ form_widget(form,{'attr': {'class' : 'form-control'}}) }}</div>
    <div>{{ form_errors(form) }}</div>
  </div>
</div>
{% endspaceless %}
{% endblock form_row %}